/* MOBILE RESPONSIVENESS MOBILE PORTRAIT */
/* TOPFLEXBOX */
@media screen and (max-width: 320px) {
  .topflexbox {
    display: grid;
    background: black;
    color: white;
    font-size: 20px;
    height: 150px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10px;
  }

  .limerick {
    display: none;
  }
}
/* MEDIA QUERIES MOBILE PORTRAIT FINISH
 */

/* MOBILE RESPONSIVENESS MOBILE LANDSCAPE */
/* TOPFLEXBOX */
@media screen and (min-width: 321px) and (max-width: 480px) {
  .topflexbox {
    display: grid;
    background: black;
    color: white;
    font-size: 20px;
    height: 150px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10px;
  }

  .limerick {
    display: none;
  }
}
/* MEDIA QUERIES MOBILE LANDSCAPE FINISH */

/* MOBILE RESPONSIVENESS TABLET PORTRAIT */
/* TOPFLEXBOX */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .topflexbox {
    display: grid;
    background: black;
    color: white;
    font-size: 30px;
    height: 150px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10px;
  }

  .limerick {
    display: grid;
    align-content: center;
    text-align: center;
    font-size: 20px;
    color: #808080;
    padding-bottom: 20px;
  }
}
/* MEDIA QUERIES TABLET PORTRAIT FINISH
 */

/* MEDIA QUERIES TABLET LANDSCAPE */
/* TOPFLEXBOX */
@media screen and (min-width: 769px) and (max-width: 990px) {
  .topflexbox {
    display: grid;
    background: black;
    color: white;
    font-size: 30px;
    height: 150px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10px;
    border: 5px solid yellow;
  }
  .limerick {
    display: grid;
    align-content: center;
    text-align: center;
    font-size: 25px;
    color: #808080;
    padding-bottom: 20px;
  }
}
/* MEDIA QUERIES TABLET LANDSCAPE FINISH
 */

/* MOBILE RESPONSIVENESS MEDIUM DEVICE */
/* TOPFLEXBOX */
@media screen and (min-width: 991px) and (max-width: 1024px) {
  .topflexbox {
    display: grid;
    background: black;
    color: white;
    font-size: 35px;
    height: 150px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10px;
  }

  .limerick {
    display: grid;
    align-content: center;
    text-align: center;
    font-size: 25px;
    color: #808080;
    padding-bottom: 20px;
  }
}
/* MEDIA QUERIES MEDIUM DEVICE FINISH
 */

/* MOBILE RESPONSIVENESS LARGE DEVICE */
/* TOPFLEXBOX */
@media screen and (min-width: 991px) and (max-width: 1024px) {
  .topflexbox {
    display: grid;
    background: black;
    color: white;
    font-size: 35px;
    height: 150px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10px;
  }

  .limerick {
    display: grid;
    align-content: center;
    text-align: center;
    font-size: 25px;
    color: #808080;
    padding-bottom: 20px;
  }
}
/* MEDIA QUERIES LARGE DEVICE FINISH
 */

/* MOBILE RESPONSIVENESS EXTRA LARGE DEVICE */
/* TOPFLEXBOX */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .topflexbox {
    display: grid;
    background: black;
    color: white;
    font-size: 35px;
    height: 150px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10px;
  }

  .limerick {
    display: grid;
    align-content: center;
    text-align: center;
    font-size: 25px;
    color: #808080;
    padding-bottom: 20px;
  }
}
/* MEDIA QUERIES EXTRA LARGE DEVICE FINISH
 */
/* MOBILE RESPONSIVENESS EXTRA EXTRA LARGE DEVICE START */
@media screen and (min-width: 1201px) {
  .topflexbox {
    display: grid;
    background: black;
    color: white;
    font-size: 35px;
    height: 150px;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10px;
  }

  .limerick {
    display: grid;
    align-content: center;
    text-align: center;
    font-size: 25px;
    color: #808080;
    padding-bottom: 20px;
  }
}

/* MEDIA QUERIES EXTRA EXTRA LARGE DEVICE FINISH
 */

/* ----------------------------------- */

body {
  background-image: url("https://i.imgur.com/oUbEF9P.jpeg");
  /* background-image: url('https://i.imgur.com/eoeWGFf.jpeg' */
  background-size: cover; /* Adjusts the image to cover the entire element */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

/* PHYSIO EXERCISES MOBILE RESPONSIVENESS MOBILE PORTRAIT START */
@media screen and (max-width: 320px) {
  .physio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-columns: auto;
    background-color: white;
    padding-bottom: 15px;
    margin-bottom: 25px;
    margin: auto;
    row-gap: 10px;
    /*             border: 5px solid blue; */
  }

  .physio-exercise-name {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #5c81a1;
  }

  video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    /*   border: 5px solid brown; */
  }
}
/* PHYSIO EXERCISES MOBILE RESPONSIVENESS MOBILE PORTRAIT FINISH */

/* MOBILE RESPONSIVENESS MOBILE PORTRAIT START */
/* EXERCISE GRID: 1 COLUMN */
@media screen and (max-width: 320px) {
  .exercise-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
    margin: 15px;
    row-gap: 5px;
    /*     padding-bottom: 50px; */
    /*     justify-content: space-between; */
    /*         border: 5px solid yellow; */
  }
}

@media screen and (max-width: 320px) {
  .exercise-tile {
    display: grid;
    place-items: center;
    padding: 5px;
  }

  .exercise-box {
    /*     display: block; */
    display: grid;
    background-color: white;
    width: 100%;
    /*     padding-bottom: 15px; */
    padding: 10px;
    margin-bottom: 25px;
    /*         border: 10px solid pink; */
  }

  .exercise-box img {
    display: block;
    margin: auto;
    /*         border: 2px solid orange; */
  }

  .exercise-name {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #5c81a1;
  }

  .time {
    font-size: 20px;
    color: #808080;
    text-align: center;
  }

  .sneak-peek {
    display: none;
  }
}

/* FIRST ATTEMPT PREVIEW FOR MOBILE DEVICE START */
/*  PREVIEW FOR MOBILE DEVICE START */
/*   .clickPreviewOne {
    display: none;
  } */

/*   .click-to-preview {
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 30px;
    border: 5px solid red;
    text-align: center;
    margin: 10px;
  } */

/*   .mobile-device-image img {
    object-fit: contain;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #cecece;
  } */

/*   button {
    color: #808080;
    background-color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border: none;
  } */

/*   button:active {
    color: white;
  } */

/*  FIRST ATTEMPT PREVIEW FOR MOBILE DEVICE END */

/*  PREVIEW FOR MOBILE DEVICE START */

button {
  color: #808080;
  background-color: #f9fbfa;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #888;
  border-radius: 50px;
  /*            border: 5px solid green; */
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default 
  /* Stay in place */
  position: relative;
  background-color: white;
  z-index: 1; /* Sit on top */
  width: max;
  height: auto;
  /* Enable scroll if needed */
  /*   overflow: auto;  */
  border: 3px solid;
  border-color: #5c81a1;
  /*                border: 5px solid purple; */
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: white;
  /* Could be more or less, depending on screen size */
  margin: 5px;
  /* Could be more or less, depending on screen size */
  width: max;
  /*   border: 2px dotted; */
  /*   border-color: #5c81a1; */
}

.modal img {
  display: block;
  width: 100%;
  object-fit: contain;
}

/* The Close Button */
.close-one {
  color: red;
  float: right;
  font-size: 45px;
  font-weight: bold;
}

.close-one:hover,
.close-one:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close-two {
  color: red;
  float: right;
  font-size: 45px;
  font-weight: bold;
}

.close-two:hover,
.close-two:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close-three {
  color: red;
  float: right;
  font-size: 45px;
  font-weight: bold;
}

.close-three:hover,
.close-three:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close-four {
  color: red;
  float: right;
  font-size: 45px;
  font-weight: bold;
}

.close-four:hover,
.close-four:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close-five {
  color: red;
  float: right;
  font-size: 45px;
  font-weight: bold;
}

.close-five:hover,
.close-five:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close-six {
  color: red;
  float: right;
  font-size: 45px;
  font-weight: bold;
}

.close-six:hover,
.close-six:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close-seven {
  color: red;
  float: right;
  font-size: 45px;
  font-weight: bold;
}

.close-seven:hover,
.close-seven:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close-eight {
  color: red;
  float: right;
  font-size: 45px;
  font-weight: bold;
}

.close-eight:hover,
.close-eight:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* MOBILE RESPONSIVENESS MOBILE PORTRAIT END */

/* --------------------------------------------------- */

/* MOBILE RESPONSIVENESS MOBILE LANDSCAPE START */

/* PHYSIO EXERCISES MOBILE RESPONSIVENESS MOBILE LANDSCAPE START */
@media screen and (min-width: 321px) and (max-width: 480px) {
  .physio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-columns: auto;
    background-color: white;
    padding-bottom: 15px;
    margin-bottom: 25px;
    margin: auto;
    row-gap: 10px;
                border: 5px solid blue;
  }

  .physio-exercise-name {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #5c81a1;
  }

  video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    /*       width: 50%; */
    /*                     border: 5px solid red; */
  }
}
/* PHYSIO EXERCISES MOBILE RESPONSIVENESS MOBILE LANDSCAPE FINISH */

/* EXERCISE GRID: 1 COLUMN */
@media screen and (min-width: 321px) and (max-width: 480px) {
  .exercise-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
    margin: 15px;
    row-gap: 5px;
    /*     padding-bottom: 50px; */
    /*     justify-content: space-between; */
    /*         border: 5px solid yellow; */
  }

  .exercise-tile {
    display: grid;
    place-items: center;
    padding: 5px;
  }

  .exercise-box {
    /*     display: block; */
    display: grid;
    background-color: white;
    width: 100%;
    /*     padding-bottom: 15px; */
    /*     padding: 10px; */
    margin-bottom: 25px;
    /*                 border: 10px solid pink; */
  }

  .exercise-box img {
    display: block;
    margin: auto;
    padding-bottom: 15px;
    /*     border: 2px solid orange; */
  }

  .exercise-name {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #5c81a1;
  }

  .time {
    font-size: 20px;
    color: #808080;
    text-align: center;
  }

  .sneak-peek {
    display: none;
  }

  /*  PREVIEW FOR MOBILE DEVICE START */

  button {
    color: #808080;
    /*     background-color: #f9fbfa; */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #888;
    border-radius: 50px;
    /*            border: 5px solid green; */
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default 
  /* Stay in place */
    position: relative;
    background-color: white;
    z-index: 1; /* Sit on top */
    width: max;
    height: auto;
    /* Enable scroll if needed */
    /*   overflow: auto;  */
    border: 3px solid;
    border-color: #5c81a1;
    /*                border: 5px solid purple; */
  }

  /* Modal Content/Box */
  .modal-content {
    position: relative;
    background-color: white;
    /* Could be more or less, depending on screen size */
    margin: 5px;
    /* Could be more or less, depending on screen size */
    width: max;
    /*   border: 2px dotted; */
    /*   border-color: #5c81a1; */
  }

  .modal img {
    display: block;
    width: 100%;
    object-fit: contain;
  }

  /* The Close Button */
  .close-one {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-one:hover,
  .close-one:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-two {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-two:hover,
  .close-two:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-three {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-three:hover,
  .close-three:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-four {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-four:hover,
  .close-four:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-five {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-five:hover,
  .close-five:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-six {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-six:hover,
  .close-six:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-seven {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-seven:hover,
  .close-seven:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-eight {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-eight:hover,
  .close-eight:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

/* MOBILE RESPONSIVENESS MOBILE LANDSCAPE FINISH */

/* MOBILE RESPONSIVENESS TABLET PORTRAIT START */

/* PHYSIO EXERCISES MOBILE RESPONSIVENESS TABLET PORTRAIT START */
@media screen and (min-width: 481px) and (max-width: 520px) {
  .physio {
    display: grid;
/*     grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: auto;
    background-color: white;
    padding-bottom: 15px;
    margin-bottom: 25px;
    margin: auto;
    row-gap: 10px;
    /*     justify-content: space-between; */
    /*                     border: 5px solid green; */
  }

  .physio-exercise-name {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #5c81a1;
  }

  video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    /*                 border: 5px solid red; */
    width: 90%;
  }
}
/* PHYSIO EXERCISES MOBILE RESPONSIVENESS TABLET PORTRAIT FINISH */

/* EXERCISE GRID: 2 COLUMNS */
@media screen and (min-width: 481px) and (max-width: 520px) {
  .exercise-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*     padding: 20px; */
    margin: auto;
    /*     row-gap: 10px; */
    justify-content: space-between;
    border: 5px solid yellow;
  }

  .exercise-tile {
    display: grid;
    place-items: center;
    padding: 5px;
  }

  .exercise-box {
    /*     display: block; */
    display: grid;
    background-color: white;
    width: 100%;
    /*     padding-bottom: 15px; */
    /*     padding: 10px; */
    margin-bottom: 25px;
    position: relative;
    /*                 border: 10px solid pink; */
  }

  .exercise-box img {
    display: block;
    margin: auto;
    /*         border: 2px solid orange; */
  }

  .exercise-name {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: #5c81a1;
  }

  .time {
    font-size: 20px;
    color: #808080;
    text-align: center;
  }

  .sneak-peek {
    display: none;
  }

  /*  PREVIEW FOR MOBILE DEVICE START */

  button {
    color: #808080;
    background-color: #f9fbfa;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #888;
    border-radius: 50px;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default 
    background-color: white;
    /* Sit on top */
    z-index: 1;
    left: 0;
    top: 10;
    width: max;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 3px solid;
    border-color: #5c81a1;
    /* Enable scroll if needed */
    /*   overflow: auto;  */
    /*                          border: 5px solid purple; */
  }

  /* Modal Content/Box */
  .modal-content {
    position: relative;
    background-color: white;
    /* Could be more or less, depending on screen size */
    margin: 5px;
    /* Could be more or less, depending on screen size */
    width: max;
    /*     border: 2px dotted; */
    border-color: #5c81a1;
  }

  .modal img {
    display: block;
    width: 90%;
    /*     padding-bottom: 2px; */
    object-fit: contain;
    /*                              border: 5px solid purple; */
  }

  /* The Close Button */
  .close-one {
    color: red;
    float: right;
    font-size: 60px;
    font-weight: bold;
  }

  .close-one:hover,
  .close-one:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-two {
    color: red;
    float: right;
    font-size: 60px;
    font-weight: bold;
  }

  .close-two:hover,
  .close-two:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-three {
    color: red;
    float: right;
    font-size: 60px;
    font-weight: bold;
  }

  .close-three:hover,
  .close-three:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-four {
    color: red;
    float: right;
    font-size: 60px;
    font-weight: bold;
  }

  .close-four:hover,
  .close-four:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-five {
    color: red;
    float: right;
    font-size: 60px;
    font-weight: bold;
  }

  .close-five:hover,
  .close-five:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-six {
    color: red;
    float: right;
    font-size: 60px;
    font-weight: bold;
  }

  .close-six:hover,
  .close-six:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-seven {
    color: red;
    float: right;
    font-size: 60px;
    font-weight: bold;
  }

  .close-seven:hover,
  .close-seven:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-eight {
    color: red;
    float: right;
    font-size: 60px;
    font-weight: bold;
  }

  .close-eight:hover,
  .close-eight:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

/* MOBILE RESPONSIVENESS MOBILE LANDSCAPE FINISH */

/* MOBILE RESPONSIVENESS TABLET PORTRAIT FINISH */

/* -------------------------- */

/* PHYSIO EXERCISES MOBILE RESPONSIVENESS TABLET PORTRAIT START */
@media screen and (min-width: 521px) and (max-width: 768px) {
  .physio {
    display: grid;
/*     grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: auto;
    background-color: white;
    padding-bottom: 15px;
    margin-bottom: 25px;
    margin: auto;
    row-gap: 10px;
    /*     justify-content: space-between; */
    /*                     border: 5px solid green; */
  }

  .physio-exercise-name {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #5c81a1;
  }

  video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    /*                 border: 5px solid red; */
    width: 90%;
  }
}
/* PHYSIO EXERCISES MOBILE RESPONSIVENESS TABLET PORTRAIT FINISH */

/* EXERCISE GRID: 2 COLUMNS */
/* ------------------- */
/* TWO BREAKPOINT SIZES IN THIS SECTION: 521 TO 600 THEN 601 TO 768 */
/* ------------------- */
@media screen and (min-width: 521px) and (max-width: 600px) {
  .exercise-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*     padding: 20px; */
    margin: auto;
    /*     row-gap: 10px; */
    justify-content: space-between;
    /*     border: 5px solid red; */
  }

  .exercise-tile {
    display: grid;
    place-items: center;
    padding: 5px;
    border: 5px solid pink;
  }

  .exercise-box {
    /*     display: block; */
    display: grid;
    background-color: white;
    width: 100%;
    /*     padding-bottom: 15px; */
    /*     padding: 10px; */
    margin-bottom: 25px;
    position: relative;
    border: 1px solid;
    border-color: #e8e8e8;
  }

  .exercise-box img {
    display: block;
    margin: auto;
    /*     border: 2px solid orange; */
  }

  .exercise-name {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #5c81a1;
  }

  .time {
    font-size: 20px;
    color: #808080;
    text-align: center;
  }

  .sneak-peek {
    display: none;
  }

  /*  PREVIEW FOR MOBILE DEVICE START */

  button {
    color: #808080;
    background-color: #f9fbfa;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #888;
    border-radius: 50px;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default 
     
    background-color: white;
    /* Sit on top */
    z-index: 1;
    left: 0;
    top: 10;
    width: max;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 3px solid;
    border-color: #5c81a1;
    /* Enable scroll if needed */
    /*   overflow: auto;  */
    /*                          border: 5px solid purple; */
  }

  /* Modal Content/Box */
  .modal-content {
    display: grid;
    /*      display: flex; */
    /*      flex-direction: column; */
    grid-template-rows: 1fr;
    /*   justify-content: space-evenly; */
    /*  align-content: flex-start; */
    position: relative;
    background-color: white;
    /* Could be more or less, depending on screen size */
    margin: 5px;
    /* Could be more or less, depending on screen size */
    width: max;
    /*     border: 2px dotted; */
    border-color: #5c81a1;
  }

  .modal img {
    display: block;
    width: 80%;
    /*     padding-bottom: 2px; */
    object-fit: contain;
    /*                              border: 5px solid green; */
  }

  /* The Close Button */
  .close-one {
    color: red;
    /*     float: right; */
    font-size: 60px;
    font-weight: bold;
  }

  .close-one:hover,
  .close-one:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-two {
    color: red;
    float: right;
    font-size: 60px;
    font-weight: bold;
  }

  .close-two:hover,
  .close-two:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-three {
    color: red;
    float: right;
    font-size: 60px;
    font-weight: bold;
  }

  .close-three:hover,
  .close-three:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-four {
    color: red;
    float: right;
    font-size: 60px;
    font-weight: bold;
  }

  .close-four:hover,
  .close-four:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-five {
    color: red;
    float: right;
    font-size: 60px;
    font-weight: bold;
  }

  .close-five:hover,
  .close-five:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-six {
    color: red;
    float: right;
    font-size: 60px;
    font-weight: bold;
  }

  .close-six:hover,
  .close-six:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-seven {
    color: red;
    float: right;
    font-size: 60px;
    font-weight: bold;
  }

  .close-seven:hover,
  .close-seven:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-eight {
    color: red;
    float: right;
    font-size: 60px;
    font-weight: bold;
  }

  .close-eight:hover,
  .close-eight:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .exercise-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*     padding: 20px; */
    margin: auto;
    /*     row-gap: 10px; */
    justify-content: space-between;
    border: 5px solid red;
  }

  .exercise-tile {
    display: grid;
    place-items: center;
    padding: 5px;
    /*         border: 5px solid pink; */
  }

  .exercise-box {
    /*     display: block; */
    display: grid;
    background-color: white;
    width: 100%;
    /*     padding-bottom: 15px; */
    /*     padding: 10px; */
    margin-bottom: 25px;
    position: relative;
    border: 1px solid;
    border-color: #e8e8e8;
  }

  .exercise-box img {
    display: block;
    margin: auto;
    /*     border: 2px solid orange; */
  }

  .exercise-name {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #5c81a1;
  }

  .time {
    font-size: 20px;
    color: #808080;
    text-align: center;
  }

  .sneak-peek {
    display: none;
  }

  /*  PREVIEW FOR MOBILE DEVICE START */

  button {
    color: #808080;
    background-color: #f9fbfa;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #888;
    border-radius: 50px;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default 
     
    background-color: white;
    /* Sit on top */
    z-index: 1;
    left: 0;
    top: 10;
    width: max;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 3px solid;
    border-color: #5c81a1;
    /* Enable scroll if needed */
    /*   overflow: auto;  */
    /*                          border: 5px solid purple; */
  }

  /* Modal Content/Box */
  .modal-content {
    display: grid;
    /*      display: flex; */
    /*      flex-direction: column; */
    grid-template-rows: 1fr;
    /*   justify-content: space-evenly; */
    /*  align-content: flex-start; */
    position: relative;
    background-color: white;
    /* Could be more or less, depending on screen size */
    margin: 5px;
    /* Could be more or less, depending on screen size */
    width: max;
    /*     border: 2px dotted; */
    border-color: #5c81a1;
  }

  .modal img {
    display: block;
    width: 70%;
    /*     padding-bottom: 2px; */
    object-fit: contain;
    /*                              border: 5px solid green; */
  }

  /* The Close Button */
  .close-one {
    color: red;
    /*     float: right; */
    font-size: 55px;
    font-weight: bold;
  }

  .close-one:hover,
  .close-one:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-two {
    color: red;
    float: right;
    font-size: 55px;
    font-weight: bold;
  }

  .close-two:hover,
  .close-two:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-three {
    color: red;
    float: right;
    font-size: 55px;
    font-weight: bold;
  }

  .close-three:hover,
  .close-three:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-four {
    color: red;
    float: right;
    font-size: 55px;
    font-weight: bold;
  }

  .close-four:hover,
  .close-four:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-five {
    color: red;
    float: right;
    font-size: 55px;
    font-weight: bold;
  }

  .close-five:hover,
  .close-five:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-six {
    color: red;
    float: right;
    font-size: 55px;
    font-weight: bold;
  }

  .close-six:hover,
  .close-six:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-seven {
    color: red;
    float: right;
    font-size: 55px;
    font-weight: bold;
  }

  .close-seven:hover,
  .close-seven:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-eight {
    color: red;
    float: right;
    font-size: 55px;
    font-weight: bold;
  }

  .close-eight:hover,
  .close-eight:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

/* MOBILE RESPONSIVENESS MOBILE LANDSCAPE FINISH */

/* MOBILE RESPONSIVENESS TABLET PORTRAIT FINISH */

/* ---------------------------- */

/* MEDIA QUERIES TABLET LANDSCAPE */

/* PHYSIO EXERCISES MOBILE RESPONSIVENESS TABLET LANDSCAPE START */
@media screen and (min-width: 769px) and (max-width: 990px) {
  .physio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: auto;
    background-color: white;
    padding-bottom: 15px;
    margin-bottom: 25px;
    margin: auto;
    row-gap: 10px;
    /*     justify-content: space-between; */
    /*             border: 5px solid yellow; */
  }

  .physio-exercise-name {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #5c81a1;
  }

  video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    /*                 border: 5px solid red; */
    width: 90%;
  }
}
/* PHYSIO EXERCISES MOBILE RESPONSIVENESS TABLET LANDSCAPE FINISH */

/* EXERCISE GRID: AUTO COLUMNS */
@media screen and (min-width: 769px) and (max-width: 990px) {
  .exercise-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: auto;
    /*     padding: 20px; */
    margin: auto;
    row-gap: 10px;
    justify-content: space-between;
    border: 5px solid green;
  }

  .exercise-tile {
    display: grid;
    place-items: center;
    padding: 5px;
  }

  .exercise-box {
    /*         display: block; */
    display: grid;
    background-color: white;
    width: 85%;
    height: 400px;
    /*     padding-bottom: 15px; */
    padding: 10px;
    margin-bottom: 25px;
    position: relative;
    /*                 border: 10px solid pink; */
  }

  .exercise-box img {
    display: block;
    margin: auto;
    height: 150px;
    /*     border: 2px solid orange; */
  }

  .exercise-name {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: #5c81a1;
  }

  .time {
    font-size: 20px;
    color: #808080;
    text-align: center;
  }

  .sneak-peek {
    display: none;
  }

  /*  PREVIEW FOR MOBILE DEVICE START */

  button {
    color: #808080;
    background-color: #f9fbfa;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #888;
    border-radius: 50px;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default 
     
    background-color: white;
    /* Sit on top */
    z-index: 1;
    left: 0;
    top: 10;
    width: max;
    height: 230px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 3px solid;
    border-color: #5c81a1;
    /* Enable scroll if needed */
    /*   overflow: auto;  */
    /*                          border: 5px solid purple; */
  }

  /* Modal Content/Box */
  .modal-content {
    display: grid;
    /*      display: flex; */
    /*      flex-direction: column; */
    grid-template-rows: 1fr;
    /*   justify-content: space-evenly; */
    /*  align-content: flex-start; */
    position: relative;
    background-color: white;
    /* Could be more or less, depending on screen size */
    margin: 5px;
    /* Could be more or less, depending on screen size */
    width: max;
    /*     border: 2px dotted; */
    border-color: #5c81a1;
  }

  .modal img {
    display: block;
    width: 75%;
    /*     padding-bottom: 2px; */
    object-fit: contain;
    /*                              border: 5px solid green; */
  }

  /* The Close Button */
  .close-one {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-one:hover,
  .close-one:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-two {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-two:hover,
  .close-two:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-three {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-three:hover,
  .close-three:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-four {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-four:hover,
  .close-four:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-five {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-five:hover,
  .close-five:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-six {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-six:hover,
  .close-six:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-seven {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-seven:hover,
  .close-seven:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-eight {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-eight:hover,
  .close-eight:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}
/* MOBILE RESPONSIVENESS TABLET LANDSCAPE FINISH */

/* MEDIA QUERIES MEDIUM DEVICE */

/* PHYSIO EXERCISES MOBILE RESPONSIVENESS MEDIUM DEVICE LANDSCAPE START */
@media screen and (min-width: 991px) and (max-width: 1024px) {
  .physio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: auto;
    background-color: white;
    padding-bottom: 15px;
    margin-bottom: 25px;
    margin: auto;
    row-gap: 10px;
    /*     justify-content: space-between; */
    border: 5px solid orange;
  }

  .physio-exercise-name {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #5c81a1;
  }

  video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    /*                 border: 5px solid red; */
    width: 90%;
  }
}
/* PHYSIO EXERCISES MOBILE RESPONSIVENESS MEDIUM DEVICE LANDSCAPE FINISH */

/* EXERCISE GRID: AUTO COLUMNS */
@media screen and (min-width: 991px) and (max-width: 1024px) {
  .exercise-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*     grid-auto-columns: auto; */
    /*         padding: 20px; */
    margin: auto;
    row-gap: 10px;
    justify-content: space-between;
    border: 5px solid yellow;
  }

  .exercise-box {
    /*         display: block; */
    display: grid;
    background-color: white;
    width: 85%;
    height: 390px;
    /*     padding-bottom: 15px; */
    padding: 10px;
    margin-bottom: 25px;
    position: relative;
    border: 10px solid pink;
  }

  .exercise-box img {
    display: block;
    margin: auto;
    /*     border: 2px solid orange; */
  }

  .exercise-name {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: #5c81a1;
  }

  .time {
    font-size: 20px;
    color: #808080;
    text-align: center;
  }

  .sneak-peek {
    display: none;
  }
  /*  PREVIEW FOR MOBILE DEVICE START */

  button {
    color: #808080;
    background-color: #f9fbfa;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #888;
    border-radius: 50px;
    /*                border: 5px solid green; */
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default 
     
    background-color: white;
    /* Sit on top */
    z-index: 1;
    left: 0;
    top: 10;
    width: max;
    height: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 3px solid;
    border-color: #5c81a1;
    /* Enable scroll if needed */
    /*   overflow: auto;  */
    /*                          border: 5px solid purple; */
  }

  /* Modal Content/Box */
  .modal-content {
    display: grid;
    /*      display: flex; */
    /*      flex-direction: column; */
    grid-template-rows: 1fr;
    /*   justify-content: space-evenly; */
    /*  align-content: flex-start; */
    position: relative;
    background-color: white;
    /* Could be more or less, depending on screen size */
    margin: 5px;
    /* Could be more or less, depending on screen size */
    width: max;
    /*     border: 2px dotted; */
    border-color: #5c81a1;
  }

  .modal img {
    display: block;
    width: 95%;
    /*     padding-bottom: 2px; */
    object-fit: contain;
    /*                              border: 5px solid green; */
  }

  /* The Close Button */
  .close-one {
    color: red;
    float: right;
    font-size: 32px;
    font-weight: bold;
  }

  .close-one:hover,
  .close-one:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-two {
    color: red;
    float: right;
    font-size: 32px;
    font-weight: bold;
  }

  .close-two:hover,
  .close-two:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-three {
    color: red;
    float: right;
    font-size: 32px;
    font-weight: bold;
  }

  .close-three:hover,
  .close-three:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-four {
    color: red;
    float: right;
    font-size: 32px;
    font-weight: bold;
  }

  .close-four:hover,
  .close-four:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-five {
    color: red;
    float: right;
    font-size: 32px;
    font-weight: bold;
  }

  .close-five:hover,
  .close-five:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-six {
    color: red;
    float: right;
    font-size: 32px;
    font-weight: bold;
  }

  .close-six:hover,
  .close-six:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-seven {
    color: red;
    float: right;
    font-size: 32px;
    font-weight: bold;
  }

  .close-seven:hover,
  .close-seven:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-eight {
    color: red;
    float: right;
    font-size: 32px;
    font-weight: bold;
  }

  .close-eight:hover,
  .close-eight:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

/* MOBILE RESPONSIVENESS MEDIUM DEVICE FINISH */

/* MEDIA QUERIES LARGE DEVICE  */
/* PHYSIO EXERCISES MOBILE RESPONSIVENESS LARGE DEVICE LANDSCAPE START */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .physio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: auto;
    background-color: white;
    padding-bottom: 15px;
    margin-bottom: 25px;
    margin: auto;
    row-gap: 10px;
    /*     justify-content: space-between; */
    /*         border: 5px solid yellow; */
  }

  .physio-exercise-name {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #5c81a1;
  }

  video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    /*                 border: 5px solid red; */
    width: 90%;
  }
}
/* PHYSIO EXERCISES MOBILE RESPONSIVENESS LARGE DEVICE FINISH */

/* EXERCISE GRID: AUTO COLUMNS */

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .exercise-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    margin-left: 15px;
    row-gap: 10px;
    justify-content: space-between;
    border: 5px solid yellow;
  }

  .exercise-box {
    /*         display: block; */
    display: grid;
    background-color: white;
    width: 85%;
    height: 400px;
    /*     padding-bottom: 15px; */
    padding: 10px;
    margin-bottom: 25px;
    position: relative;
    /*                 border: 10px solid pink; */
  }

  .exercise-box img {
    display: block;
    margin: auto;
    /*     border: 2px solid orange; */
  }

  .exercise-name {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: #5c81a1;
  }

  .time {
    font-size: 20px;
    color: #808080;
    text-align: center;
  }

  .sneak-peek {
    display: none;
  }

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default 
     
    background-color: white;
    /* Sit on top */
    z-index: 1;
    left: 0;
    top: 10;
    width: max;
    height: 230px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 3px solid;
    border-color: #5c81a1;
    /* Enable scroll if needed */
    /*   overflow: auto;  */
    /*                          border: 5px solid purple; */
  }

  /* Modal Content/Box */
  .modal-content {
    display: grid;
    /*      display: flex; */
    /*      flex-direction: column; */
    grid-template-rows: 1fr;
    /*   justify-content: space-evenly; */
    /*  align-content: flex-start; */
    position: relative;
    background-color: white;
    /* Could be more or less, depending on screen size */
    margin: 5px;
    /* Could be more or less, depending on screen size */
    width: max;
    /*     border: 2px dotted; */
    border-color: #5c81a1;
  }

  .modal img {
    display: block;
    width: 75%;
    /*     padding-bottom: 2px; */
    object-fit: contain;
    /*                              border: 5px solid green; */
  }

  /* The Close Button */
  .close-one {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-one:hover,
  .close-one:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-two {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-two:hover,
  .close-two:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-three {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-three:hover,
  .close-three:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-four {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-four:hover,
  .close-four:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-five {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-five:hover,
  .close-five:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-six {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-six:hover,
  .close-six:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-seven {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-seven:hover,
  .close-seven:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close-eight {
    color: red;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }

  .close-eight:hover,
  .close-eight:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}
/* MOBILE RESPONSIVENESS LARGE DEVICE FINISH */

/* MEDIA QUERIES EXTRA LARGE DEVICE  */

/* PHYSIO EXERCISES MOBILE RESPONSIVENESS EXTRA LARGE DEVICE LANDSCAPE START */
@media screen and (min-width: 1201px) {
  .physio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: auto;
    background-color: white;
    padding-bottom: 15px;
    margin-bottom: 25px;
    margin: auto;
    row-gap: 10px;
    /*     justify-content: space-between; */
    /*         border: 5px solid yellow; */
  }

  .physio-exercise-name {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #5c81a1;
  }

  video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    /*                 border: 5px solid red; */
    width: 90%;
  }
}
/* PHYSIO EXERCISES MOBILE RESPONSIVENESS EXTRA LARGE DEVICE FINISH */

/* EXERCISE GRID: AUTO COLUMNS */
@media screen and (min-width: 1201px) {
  .exercise-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid: auto / auto auto auto auto;
    padding: 20px;
    margin: 25px;
    row-gap: 5px;
    justify-content: space-between;
    gap: 1rem;
    /*     border: 5px solid yellow; */
  }

  .exercise-box {
    display: block;
    background-color: white;
    width: 250px;
    height: 350px;
    padding: 1px;
    margin: 10px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    /*     border: 10px solid purple; */
  }

  .exercise-box img {
    display: block;
    margin: auto;
    /*     border: 2px solid orange; */
  }

  .exercise-name {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #5c81a1;
  }

  .time {
    font-size: 20px;
    color: #808080;
    text-align: center;
  }

  .sneak-peek {
    align-items: center;
    justify-content: center;
    /*         border: 5px solid blue; */
    text-align: center;
    margin: 10px;
    /*     display: none; */
  }

  .hover-box-one {
    display: none;
    /*   width: 100%; */
    /*   border: 5px solid blue; */
  }

  a:hover + .hover-box-one,
  .hover-box:hover {
    display: block;
    position: absolute;
    z-index: 100;
    /*     top: 5px; */
    /*   left: 10%; */
    background: white;
  }

  button {
    display: none;
  }
}

/* MOBILE RESPONSIVENESS EXTRA LARGE DEVICE FINISH */
/* _________________ DANCE _________________ */

/* MOBILE RESPONSIVENESS MOBILE PORTRAIT */
/* DANCE LINKS: 1 COLUMN */
@media screen and (max-width: 320px) {
  .exercise-dance {
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
  }

  .exercise-dance-name {
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
    color: white;
    background-color: #5e5e5e;
  }

  .exercise-dance-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    font-size: 15px;
    text-align: center;
    color: #483d8b;
    padding-bottom: 20px;
    row-gap: 10px;
    /*     border: 2px solid red; */
  }

  .no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    display: inline-block;
    text-align: center;
  }

  a {
    text-decoration: none;
    /* Removes underline from links */
    color: #333333;
    font-size: 25px;
  }
}
/* MEDIA QUERIES MOBILE PORTRAIT FINISH
 */

/* MOBILE RESPONSIVENESS MOBILE LANDSCAPE */
/* DANCE LINKS: 1 COLUMN */
@media screen and (min-width: 321px) and (max-width: 480px) {
  .exercise-dance {
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
  }

  .exercise-dance-name {
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
    color: white;
    background-color: #5e5e5e;
  }

  .exercise-dance-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    text-align: center;
    color: #483d8b;
    padding-bottom: 20px;
    row-gap: 10px;
    /*     border: 2px solid red; */
  }

  .no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    display: inline-block;
    text-align: center;
  }

  a {
    text-decoration: none;
    /* Removes underline from links */
    color: #333333;
    font-size: 25px;
  }
}
/* MEDIA QUERIES MOBILE LANDSCAPE FINISH
 */

/* MOBILE RESPONSIVENESS TABLET PORTRAIT */
/* EXERCISE DANCE: 3 COLUMNS */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .exercise-dance {
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
  }

  .exercise-dance-name {
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
    color: white;
    background-color: #5e5e5e;
  }

  .exercise-dance-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    text-align: center;
    color: #483d8b;
    padding-bottom: 20px;
    row-gap: 10px;
    /*     border: 2px solid red; */
  }

  .no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    display: inline-block;
    text-align: center;
  }

  a {
    text-decoration: none;
    /* Removes underline from links */
    color: #333333;
    font-size: 20px;
  }
}
/* MEDIA QUERIES TABLET PORTAIT FINISH
 */

/* MEDIA QUERIES TABLET LANDSCAPE */
/* EXERCISE DANCE: 3 COLUMNS */
@media screen and (min-width: 769px) and (max-width: 990px) {
  .exercise-dance {
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
  }

  .exercise-dance-name {
    font-size: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
    color: white;
    background-color: #5e5e5e;
  }

  .exercise-dance-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    text-align: center;
    color: #483d8b;
    padding-bottom: 20px;
    row-gap: 10px;
    /*     border: 2px solid red; */
  }

  .no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    display: inline-block;
    text-align: center;
  }

  a {
    text-decoration: none;
    /* Removes underline from links */
    color: #333333;
    font-size: 25px;
  }
}
/* MEDIA QUERIES TABLET LANDSCAPE FINISH
 */

/* MEDIA QUERIES LARGE DEVICE */
/* EXERCISE DANCE: 3 COLUMNS */
@media screen and (min-width: 991px) and (max-width: 1024px) {
  .exercise-dance {
    font-size: 40px;
    padding: 20px;
    font-weight: bold;
  }

  .exercise-dance-name {
    font-size: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
    color: white;
    background-color: #5e5e5e;
  }

  .exercise-dance-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    text-align: center;
    color: #483d8b;
    padding-bottom: 20px;
    row-gap: 10px;
    /*     border: 2px solid red; */
  }

  .no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    display: inline-block;
    text-align: center;
  }

  a {
    text-decoration: none;
    /* Removes underline from links */
    color: #333333;
    font-size: 25px;
  }
}
/* MEDIA QUERIES LARGE DEVICE */

/* MEDIA QUERIES EXTRA LARGE DEVICE */
/* EXERCISE DANCE: 3 COLUMNS */
@media screen and (min-width: 1026px) and (max-width: 1200px) {
  .exercise-dance {
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
  }

  .exercise-dance-name {
    font-size: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
    color: white;
    background-color: #5e5e5e;
  }

  .exercise-dance-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    text-align: center;
    color: #483d8b;
    padding-bottom: 20px;
    row-gap: 10px;
    /*     border: 2px solid red; */
  }

  .no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    display: inline-block;
    text-align: center;
  }

  a {
    text-decoration: none;
    /* Removes underline from links */
    color: #333333;
    font-size: 25px;
  }
}
/* MEDIA QUERIES EXTRA LARGE DEVICE */

/* MEDIA QUERIES EXTRA EXTRA LARGEST DEVICE */
/* EXERCISE DANCE: 3 COLUMNS */
@media screen and (min-width: 1201px) {
  .exercise-dance {
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
  }

  .exercise-dance-name {
    font-size: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
    color: white;
    background-color: #5e5e5e;
  }

  .exercise-dance-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    text-align: center;
    color: #483d8b;
    padding-bottom: 20px;
    row-gap: 10px;
    /*     border: 2px solid red; */
  }

  .no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    display: inline-block;
    text-align: center;
  }

  a {
    text-decoration: none;
    /* Removes underline from links */
    color: #333333;
    font-size: 25px;
  }
}
/* MEDIA QUERIES EXTRA EXTRA LARGEST DEVICE */

/* _________________ FOOTER _________________ */

@media screen and (max-width: 320px) {
  .footer {
    font-size: 15px;
    background-color: #b3b3b3;
    padding: 10px;
    color: black;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .footer {
    font-size: 15px;
    background-color: #b3b3b3;
    padding: 10px;
    color: black;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer {
    font-size: 20px;
    background-color: #b3b3b3;
    padding: 10px;
    color: black;
  }
}

@media screen and (min-width: 769px) and (max-width: 990px) {
  .footer {
    font-size: 20px;
    background-color: #b3b3b3;
    border-top: black;
    padding: 10px;
    color: black;
  }
}

@media screen and (min-width: 991px) and (max-width: 1024px) {
  .footer {
    font-size: 20px;
    background-color: #b3b3b3;
    border-top: black;
    padding: 10px;
    color: black;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .footer {
    font-size: 20px;
    background-color: #b3b3b3;
    border-top: black;
    padding: 10px;
    color: black;
  }
}

@media screen and (min-width: 1201px) {
  .footer {
    font-size: 20px;
    background-color: #b3b3b3;
    border-top: black;
    padding: 10px;
    color: black;
  }
}
