.modals {
     display: grid;
    grid-template-columns: repeat(1, 1fr);
      margin: 20px;
} 

button {
    color: #808080;
    background-color: #F9FBFA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
/*     border: none; */
      border: 1px solid #888;
    border-radius: 50px;
  }

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
 }

/* Modal Content/Box */
.modal-content {
  background-color: white;
    padding: 10px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close-one {
  color: red;
  float: right;
  font-size: 32px;
  font-weight: bold;
}

.close-one:hover,
.close-one:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* The Close Button */
.close-two {
  color: red;
  float: right;
  font-size: 32px;
  font-weight: bold;
}

.close-two:hover,
.close-two:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
