.titlebox {
  display: grid;
  font-family: "Trebuchet MS", sans-serif;
  font-size: 25px;
  justify-content: center;
  align-content: center;
  color: #07116f;
  background-color: white;
  /*   text-decoration: underline; */
  text-underline-offset: 20px; /* Adjust spacing */
  text-decoration-color: #4f57a1; /* Optional: Change underline color */
  text-decoration-thickness: 5px; /* Optional: Adjust thickness */
  border-style: solid;
  border-width: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #f4f2ee;
  width: max;
}

p {
  /*       font-family: "Times New Roman", Times, serif; */
  font-family: "Trebuchet MS", sans-serif;
}

/* MOBILE RESPONSIVENESS TABLET PORTRAIT */
@media screen and (max-width: 768px) {
 .topic {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: white;
    border-style: solid;
    border-width: 10px;
    border-left: none;
/*     border-right: none; */
    border-color:#f4f2ee;
/*             border: 5px solid green; */
  }

  .web-tile-grid {
    display: grid;
    /*     display: flex; */
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    /*     flex-wrap: wrap; */
    width: max;
    /*     color: #07116f; */
    text-align: center;
    background-color: #c0c0c0;
    /*     background-color: grey; */
    /*     border: 5px solid blue; */
  }

  .group-similar-title {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 20px;
    color: #07116f;
    background-color: white;
    font-weight: bold;
    /*     height: 75px; */
    /*     border: 5px solid yellow; */
  }

  .group-similar-tiles {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /*     background-color: #f2f2f2; */
    background-color: white;
    width: auto;
    /*     background-color: yellow; */
/*         border: 5px solid orange; */
  }

  .web-tile {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    color: #07116f;
    font-weight: bold;
    text-align: center;
    width: 100px;
    /*     height: contain; */
    padding: 20px;
    margin: 10px;
    background-color: #f2f2f2;
/*         border: 2px solid red; */
  }

  .snapshot {
    width: auto;
    height: 100px;
    /*     border: 2px solid brown; */
  }
  
   .youtube-image {
    width: auto;
    height: 70px;
    /*     border: 2px solid brown; */
  }
  
  .website-name {
      font-size: 15px;
    color: #404040;
  }
}

@media screen and (min-width: 769px) {
 .topic {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: white;
    border-style: solid;
    border-width: 10px;
    border-left: none;
/*     border-right: none; */
    border-color:#f4f2ee;
/*             border: 5px solid green; */
  }
  
  .web-tile-grid {
    display: grid;
    /*     display: flex; */
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    /*     flex-wrap: wrap; */
    width: max;
    /*     color: #07116f; */
    text-align: center;
    background-color: #c0c0c0;
    /*     background-color: grey; */
    /*     border: 5px solid blue; */
  }

  .group-similar-title {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 30px;
    color: #07116f;
    background-color: white;

    font-weight: bold;
    /*     height: 75px; */
    /*     border: 5px solid yellow; */
  }

  .group-similar-tiles {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    width: auto;
    /*     background-color: yellow; */
    /*     border: 5px solid orange; */
  }

/*   .web-tile {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    color: #07116f;
    font-weight: bold;
    text-align: center;
    width: 200px;
    padding: 20px;
    margin: 10px;
    background-color: white;
        border: 2px solid red;
  } */
  
  .web-tile {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    color: #07116f;
    font-weight: bold;
    text-align: center;
    width: 100px;
    /*     height: contain; */
    padding: 20px;
    margin: 10px;
    background-color: #f2f2f2;
/*         border: 2px solid red; */
  }

  .snapshot {
    width: auto;
    height: 100px;
    /*     border: 2px solid brown; */
  }
  
     .youtube-image {
    width: auto;
    height: 70px;
    /*     border: 2px solid brown; */
  }
  
   .website-name {
      font-size: 15px;
    color: #404040;
  }
}
